/*-------basic-------*/
html::-webkit-scrollbar,div::-webkit-scrollbar{
	width:12px;
	background:none;
}
html::-webkit-scrollbar-button,div::-webkit-scrollbar-button{
	display: none
}
html::-webkit-scrollbar-thumb,div::-webkit-scrollbar-thumb{
	background-color: #343a40;
}
body{
	font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif
}
/*-------nav-------*/
.nav-link {
	display: inline-block;
	padding:0;
	color: #20623e!important;
	transition:0.2s ease-in
}
.sublink{
	color:#aaa!important;
	margin-right:1em
}
.navbar{
	display: block;
}
.navbar-nav {
	display: block;
}
@media(max-width: 1024px){
	#navcontain{
		display: flex;
		justify-content: center;
	}
	.navbar-nav{
		margin-left: 2em
	}
}
@media(max-width: 576px){
	.navbar-nav{
		margin-left: 1em
	}
}
@media(max-width: 400px){
	.navbar-nav{
		margin-left: 0
	}
}
.btnbox{
	display: inline-block;
	max-width:120px;
	border:1px solid transparent;
	border-radius: 2em;
	padding:8px 12px;
	transition:0.2s ease-in
}
.btnbox a,.btnbox a:hover{
	background-color:transparent!important;
}
.btnbox:hover,.btnbox.selected{
	background:#20623e;
	border:1px solid #20623e;
	cursor:pointer;
}
.btnbox:hover a,.btnbox.selected a{
	color: #fff!important;
}
.mallbox{
	border:1px solid #20623e;
}
.navbar.navlight{
	background-color:#f8f9fa!important
}
/*-------text-------*/
a{
	text-decoration: none!important;
	color:#555
}
a:hover{
	color:#5ea67a
}
.text-light a{
	color:#ccc;
	transition: 0.2s
}
.text-light a:hover{
	color:#fff
}
.textcon p{
	line-height: 2em;
	margin:1.5em 0;
}
mark{
	font-weight: bolder;
}
.colored{
	color:#20623e!important
}
.subcolored{
	color: #666
}
.pt-9{
	padding-top:90px
}
.space{
	display:none;
}
@media(max-width:550px){
	.space{
		display: block;
	}
}
#content{
	opacity: 0;
	-webkit-transition: opacity .8s ease;
    -moz-transition: opacity .8s ease;
    transition: opacity .8s ease;
}
.contentfadeout{
	opacity:1!important;
}
.adjust{
	height: 55px;
}
.display-4,.lead{
	font-weight: normal;
}
@media(max-width: 576px){
	.adjust{
	height: 85px;
	}
	.display-4{
		font-size: 2rem;
	}
	.lft{
		text-align: left!important
	}
}
.underline{
	padding-bottom: 0.01em;
	border-bottom: 1px solid;
	border-color: inherit;
}
.nowrap {
    display: inline-block;
    text-decoration: inherit;
    white-space: nowrap;
}
/*-------Components-------*/
.progress{
	border-radius: 2em;
	background-color:transparent;
}
.progress-bar{
	border-radius: 2em;
	text-align: right;
	padding-right: 0.5em;
}
.progress-bar.bg-success{
	background-color:#20623E!important;
}
.btn-index{
	cursor:default!important
}
.btn-index.selected{
	background-color:#20623E;
	color: #fff;
	border-radius:2em;
}
/*-------jumbo-------*/
@media(min-width: 1024px){
	.transdiv {
		display: flex;
		display: -webkit-flex;
		align-items: center;
	}
	.transdiv2{
		display: flex;
		display: -webkit-flex;
		align-items: flex-start;
		justify-content: center;
	}
}
@media(max-width: 1024px){
	.transdiv h1,.transdiv h4,.transdiv p,.linkdiv{
		text-align: center;
	}
	.jl{
		padding-right: 0;
	}
	.jr{
		padding-left: 0
	}
}
.jumbotron{
	background-size:cover;
	background-repeat:no-repeat;
	background-position: center right;
	margin-bottom: 1em;
	opacity: 0;
    -webkit-transition: opacity .8s ease;
    -moz-transition: opacity .8s ease;
    transition: opacity .8s ease;
} 
.jumbohead1{
	height: 500px;
	background-image:linear-gradient(to right, #FFFFFFFF,#FFFFFFFF,#FFFFFFaa,#FFFFFF00,#FFFFFF00,#FFFFFF00),url(../res/banner/201921.jpg);
}
.jumbohead2{
	height:auto;
	background: #fff
}
.jumbohead3{
	height:560px;
}
.jumbohead4{
	height:500px;
	background-image:linear-gradient(to right, #FFFFFFFF,#FFFFFFFF,#FFFFFFaa,#FFFFFFaa,#FFFFFFaa,#FFFFFFaa),url(../res/img/product/201921/white.jpg);
}
.jumbohead5{
	height:500px;
	background-image:linear-gradient(to right, #FFFFFFFF,#FFFFFFFF,#FFFFFFFF,#FFFFFFaa,#FFFFFF00,#FFFFFF00),url(../res/img/product/201921/detail.jpg);
}
/*.jumbohead6{
	height:500px;
	background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../res/banner/6a.jpg);
}*/
.jumbohead7{
	height:500px;
	background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../res/banner/2.jpg);
}
.jumbohead8{
	height:300px;
	background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../res/banner/2.jpg);
}
.jumbohead9{
height: auto;
background: transparent;
}
.jumbohead9 .col-md-4{
	padding:5px
}
@media(max-width: 1024px){
	.jumbohead1{
	height:100%;
	background-image:url(../res/banner/201921a.jpg);
	background-position: center bottom;
	}
	.jumbohead2{
	height:auto;
	}
	.jumbohead3{
	height:560px;
	}
	.jumbohead4{
	height:auto;
	background-position: center;
	background-image:linear-gradient(#FFFFFFFF,#FFFFFFFF,#FFFFFFaa,#FFFFFFaa,#FFFFFFaa,#FFFFFFaa),url(../res/img/product/201921/white.jpg);
	}
	.jumbohead5{
	height:auto;
	background:#fff;
	}
	/*.jumbohead6{
	height:auto;
	background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../res/banner/6a.jpg);
	}*/
	.jumbohead7{
	height:auto;
	background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../res/banner/2.jpg);
	}
	.jumbohead8{
	height:auto;
	background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../res/banner/2.jpg);
	}
	.jumbohead9{
	height: auto;
	}
}
/*-------jumbo/roll-------*/
.rollbox{
	width: 100%;
	height: 560px;
	overflow: hidden!important;
	position: relative;
}
.rollbox-inner{
	width:3820px;
	height:560px;
	list-style: none;
	position:absolute;
	padding:0;
}
.rollbox-inner li{
	background-image: url(../res/img/product/201921/pattern.jpg);
	background-size: cover;
	width:1910px;
	height:560px;
	float: left;
}